In [1]:
#Answer the following questions based on the African food production dataset provided by the FAO website already provided
#"https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning"
#What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [2]:
import pandas as pd
import numpy as np
finaldf = pd.read_csv("C:/Users/Lenovo/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="unicode_escape")

In [3]:
df1=finaldf[finaldf['Item']=='Animal fats']
ans11_1= df1.groupby('Item')['Y2014'].sum()
ans11_2= df1.groupby('Item')['Y2017'].sum()
ans11_1=int(ans11_1)
ans11_2=int(ans11_2)
print("Total sum of Animal Fat produced in 2014 : ",ans11_1)
print("\nTotal sum of Animal Fat produced in 2017 : ", ans11_2)

Total sum of Animal Fat produced in 2014 :  209460

Total sum of Animal Fat produced in 2017 :  269617

In [4]:
#What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [5]:
print("Mean for the year 2015 to 3 decimal places : ",round(finaldf['Y2015'].mean(),3))
print("\nStandard deviation for the year 2015 to 3 decimal places : ",round(finaldf['Y2015'].std(),3))

Mean for the year 2015 to 3 decimal places :  135.236

Standard deviation for the year 2015 to 3 decimal places :  1603.404

In [6]:
#What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [7]:
missing = finaldf['Y2016'].isnull().sum()
perc = missing*100/ len(finaldf)
print("Total number of missing data in 2016 : ",missing)
print("\nPercentage of missing data in 2016 to 2 decimal places : ",round(perc,2))

Total number of missing data in 2016 :  1535

Percentage of missing data in 2016 to 2 decimal places :  2.52

In [8]:
#Which year had the highest correlation with ‘Element Code’?

In [9]:
maxyear=finaldf.corr().loc['Item Code'][3:]
print("Year had the highest correlation with 'Element Code' is ",maxyear[maxyear == maxyear.max()])

Year had the highest correlation with 'Element Code' is  Y2014    0.021722
Name: Item Code, dtype: float64

In [10]:
#What year has the highest sum of Import Quantity?

In [11]:
ans15=[]
df2=finaldf[finaldf['Element']=='Import Quantity']
ans15.append(df2.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum())
print(ans15[0])
print("\nYear with the highest sum of Import Quantity is Y2017 ")

                     Y2014      Y2015      Y2016      Y2017      Y2018
Element
Import Quantity  274144.48  267018.46  286582.78  294559.09  287997.09

Year with the highest sum of Import Quantity is Y2017

<ipython-input-11-027c65460af8>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ans15.append(df2.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum())

In [12]:
#What is the total number of the sum of Production in 2014?

In [13]:
df3=finaldf[finaldf['Element']=='Production']
ans16 = df3.groupby('Element')['Y2014'].sum()
print("Total number of the sum of Production in 2014 :",ans16[0])

Total number of the sum of Production in 2014 : 1931287.7500000005

In [14]:
#Which of these elements had the highest sum in 2018?

In [15]:
ans17 = finaldf.groupby('Element')['Y2018'].sum()
print("With",ans17.max() ,"elements",ans17.idxmax()," has the highest sum in 2018 ")

With 2161192.1 elements Domestic supply quantity  has the highest sum in 2018

In [16]:
#Which of these elements had the 3rd lowest sum in 2018?

In [17]:
ans18 = finaldf.groupby('Element')['Y2018'].sum()
ans18=ans18.sort_values()
print(ans18)
print("\nWith",ans18[2] ,"elements",ans18.index.values[2]," is the 3rd lowest sum in 2018 ")

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

With 11833.56000000012 elements Protein supply quantity (g/capita/day)  is the 3rd lowest sum in 2018

In [18]:
#What is the total Import Quantity in Algeria in 2018?

In [19]:
df4=finaldf[(finaldf['Element']=='Import Quantity') & (finaldf['Area']=='Algeria')]
ans19 = df4.groupby(['Area','Element'])['Y2018'].sum()
print("Total Import Quantity in Algeria in 2018 is ",ans19[0])

Total Import Quantity in Algeria in 2018 is  36238.29

In [20]:
#What is the total number of unique countries in the dataset?

In [21]:
s=set(finaldf["Area"])
ans20 = list(s)
print("Total number of unique countries in the dataset : ",len(ans20))

Total number of unique countries in the dataset :  49